* {
  padding: 0;
  margin: 0;
  font: inherit;
  font-size: 100%;
  list-style-type: none;
  vertical-align: baseline;
}

html,
body {
  min-height: 100%;
  color: #333;
}

body {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-size: 10pt;
  padding: 20px;
}

h1 {
  font-size: 2.4em;
  font-weight: 100;
  margin-bottom: 0.5em;
}

h2 {
  font-size: 1.6em;
  font-weight: 100;
  margin-bottom: 0.5em;
}

button {
  padding: 10px;
  text-align: left;
  cursor: pointer;
  background-color: #efefef;
  &:hover {
    background-color: #ddd;
  }
  &:disabled {
    font-weight: bold;
    color: inherit;
    cursor: default;
    background-color: #efefef;
  }
}

table {
  width: 100%;
  border-collapse: collapse;
  td,
  th {
    text-align: left;
    padding: 8px 12px;
  }
  th {
    background: #efefef;
  }
}
