.transactions {
  flex: 8;
  padding-left: 40px;
}

.transactions-header {
  display: flex;
  .header-data {
    flex: auto;
    .transaction-data {
      display: flex;
      justify-content: space-around;
      .transaction-data__label,
      .transaction-data__value {
        font-size: 1.2em;
        display: block;
        text-align: center;
        font-weight: 100;
      }
      .transaction-data__label {
        font-size: 1.2em;
      }
    }
  }
  .header-graph {
    width: 200px;
  }
}

.transactions-table {
  margin-top: 2em;
}
