.merchants {
  flex: 2;
  padding-right: 40px;
  border-right: 1px solid #efefef;
}

.merchant-item {
  button {
    display: block;
    width: 100%;
    margin-bottom: 1px;
    &.selected {
      font-weight: 300;
    }
  }
}
